html, body, div, h1, h2, h3, h4, 
h5, h6, p, blockquote, pre,
a, img, b, u, i {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

header {
    height: 30px;
    width: 100%;
    padding: 4px 0 4px 0 ; 
    top: 0;
    left: 0;
    right: 0;
    background: rgba(46,46,46,0.95);
}

.header-logo, .header-logo:hover {
    margin-left: 50px;
    float: left;
    padding: 5px 0 12px 0 ;
    text-decoration: none;
}

.header-logo img {
    vertical-align: middle;
}

main {
    margin: 40px 0 30px 0;
}

#cover {
    position: relative;
    width: 100%; /* for IE6 */
}

#cover-img {
    z-index: -1;
    position: relative;
    height: 375px;
    overflow: hidden;
    background-image: url('../img/cover.jpg');
}

#cover img {
    position: absolute;
    width: 100%; 
    min-width: 800px;
    bottom: -50px;
    left: 0;
}

#cover-text {
    position: absolute;
    top: 40%; left: 10%; bottom: 0; right: 0;
    width: 500px
}

#cover-title {
    font-family: 'Droid Serif', serif;
    color: white;
    font-size: 66px;
    font-weight: 700;
}

#cover-subtitle {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    padding: 7px; 
    margin-top: 10px; 
}

#cover-byline {
    font-family: 'Open Sans', sans-serif;
    font-size:11px;
    font-weight: 400;
    float: right;
    margin-right: 5px;
}

#cover-byline a {
    color: inherit; 
}

#photo-title {
    font-weight: 300;
    display: inline;
}

#photo-title {
    font-weight: 300;
    display: inline;
}

#article, #byline {
    margin-left: 10%;
    margin-right: 10%;
}

#byline {
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;
    padding: 3px 5px 3px 5px;
    display: inline-block;
}

#byline a {
    font-weight: 700;
    font-style: italic;
    color: inherit; 
    text-decoration: none;
}

#article p {
    font-family: 'Droid Serif', serif;
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 130%;
}

.bf {
    background-color: black;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    padding: 3px 5px 3px 5px;
    margin: 15px; 
    margin-left: 0px;
    display: inline-block;
    letter-spacing: -1;
}

#bloomberg {
    float:right;
    width: 40%;
}

#bloomberg img {
    width:100%;
}

@media screen and (max-width: 480px) {
    #article {
        margin-right: 1%;
        margin-left: 1%;
    }

    #cover-text {
        top: 20%;
        max-width: 400px;
        margin-right:
    }
}
